<html>
    <head>
        <title>Scrabble Score</title>
    </head>
    <body>
        <h1>Scrabble Score!</h1>
        <h2>Please input your word</h2>

        <form id="form1" action="" method="post">
            <div class="form-group">
                <label for="input">Word:</label>
                <input type="text" class="form-control" name="input" id="input">
            </div>
            <button type="Submit" class="btn-success"></button>
        </form>
    </body>
</html>
